<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Meteorite Explorer</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="scripts/libs/jquery-3.3.1.min.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles/style.css" />
  </head>
  <body>
    <div>
      <div class="container text-center">
        <header>
          <h3>Meteorite Explorer</h3>
        </header>
        
          <form method="POST" action="/search" class="md-form">
              <input name="search" placeholder="SEARCH" type="text" id="search" class="form-control"/>
              <button class="btn btn-primary btn-lg btn-block" type="submit">
                  Search
              </button>
          </form>
  
      </div>
      <div class="container">

      
        <div class="table-responsive">
          <table class="table data table-hover table-striped" id="table">
            <tr class="sticky-top">
              <th>Name</th>
              <th>id</th>
              <th>Rec Class</th>
              <th>Mass (g)</th>
              <th>Fall</th>
              <th>year</th>
              <th>Latitude</th>
              <th>Longitude</th>
            </tr>
            <div id="searchrender"></div>
            <div class="rendered" id="rendered">
              <tbody>
              <% for (let i = 0; i < jsonData.length; i++) { let currentResult =
              jsonData[i] %>
              <tr id="tableData">
                <td><%= currentResult.name %></td>
                <td><%=currentResult.id %></td>
                <td><%=currentResult.recclass %></td>
                <td><%=currentResult.mass %></td>
                <td><%=currentResult.fall %></td>
                <td>
                  <% if (currentResult.year) { %>
                  <span
                    ><% let value = currentResult.year.split('-')[0] %><%= value
                    %></span
                  >
                  <% } %>
                </td>
                <td>
                  <% if (currentResult.geolocation) { %>
                  <span
                    ><% let value = currentResult.geolocation.latitude %><%=
                    value %></span
                  >
                  <% } %>
                </td>
                <td>
                  <% if (currentResult.geolocation) { %>
                  <span
                    ><% let value = currentResult.geolocation.longitude %><%=
                    value %></span
                  >
                  <% } %>
                </td>
              </tr>
              <% } %>
              </tbody
            </div>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
